
@import url(./partials/header.css);
@import url(./partials/main.css);
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  background-color: #92acb2;
  
  .d-none{
    display: none !important;
  }

  footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    p{
      text-align: center;
    }
  }
}
  /* DESCRIPTION DARK_MODE */
  .darkMode{
    background-color: #071C42;
    color: #f3f0f0;
}